*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
 .info{
    color: white ;
}
section{
    padding: 90px 0;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.skills{
    font-family: 'Poppins', sans-serif;
}


.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}



/* my skill styling */
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
    background-color: whitesmoke;
}
/* only for bar representation of skill section */
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: skyblue;
}
.skills-content .right .html::before{
    width: 80%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 10%;
}
.skills-content .right .c::before{
    width: 85%;
}
.skills-content .right .aiml::before{
    width: 30%;
}

